a:link{
color: white;
}

a:visited{
color: #F2F2F2;
}

a:hover{
  background-color: #B3DFB6;
}

a:active{
  background-color: #9DE356;
}
ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #111;
}
li {
  float: left;
  border-right: 1px solid #E2E2E2;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li:last-child{
  border-right:none;
}

#right{
  
}
#left{
  
}
