ul{
  color: white;
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #111;
  float: left;
}
li {
  display: block;
  float: left;
  border-right: 1px solid #E2E2E2;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:link{
color: #FFFFFF;
}

li a:visited{
color: #F2F2F2;
}

li a:hover {
  background-color: #B3DFB6;
}

li a:active{
  background-color: #9DE356;
}

li:last-child{
  border-right:none;
}
.dropDown{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropDown-content{
  display: none;
  position: absolute;
  z-index:1;
}
.dropDown:hover .dropDown-content{
  display: block;
}

#container{
  
}
#banner{
  
}
